@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

body {
    background-color: #1d1d1d;
    font-family: Poppins;
    color: #1d1d1d;
    margin: 0;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    background-color: #3b3b3b;
    padding: 50px 40px;
    border-radius: 10px;
    /* box-shadow: 0 15px 40px rgba(173, 20, 87, 0.2); */
    backdrop-filter: blur(8px);
    /* border: 2px solid #f8bbd0; */
    border-bottom:8px solid white;
    border-right:8px solid white;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 40px;
    position: relative;
}

h1::after {
    content: "";
    display: block;
    width: 1200px;
    height: 4px;
    background: #009c6d;
    margin: 20px auto 0;
    border-radius: 2px;
}

h2 {
    color: #009c6d;
    font-size: 24px;
    margin-top: 30px;
    position: relative;
}



p, ul {
    font-size: 17px;
    line-height: 1.8;
    color: #ffffff;
    max-width: 800px;
}

ul {
    padding-left: 20px;
    list-style: none;
}

ul li::before {
    content: "-";
    color: #009c6d;
    margin-right: 8px;
}

button{
    width: 180px;
    height: 40px;
    background-color: #009c6d;
    font-family: Poppins;
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    scale: 1.1;
}

/* Responsivo */
@media (max-width: 768px) {
    .container {
        padding: 30px 20px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    p, ul {
        font-size: 16px;
    }
}

