<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Python - Poo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Python e a Programação Orientada a Objetos</h1>

        <section>
            <h2>Introdução ao Python</h2>
            <p>Python é uma linguagem de programação moderna, de alto nível, que se destaca por sua sintaxe clara e intuitiva. É amplamente utilizada no desenvolvimento de aplicações web, automações, ciência de dados, inteligência artificial, entre outras áreas.</p>
        </section>

        <section>
            <h2>Principais Aplicações</h2>
            <p>Python é uma ferramenta poderosa presente em diversos campos da tecnologia, como análise de dados, criação de sites, automação de tarefas, desenvolvimento de jogos e soluções com aprendizado de máquina.</p>
        </section>

        <section>
            <h2>Benefícios de usar Python na carreira</h2>
            <ul>
                <li>Aprendizado rápido para iniciantes</li>
                <li>Boa aceitação no mercado de trabalho</li>
                <li>Ampla comunidade e vasta documentação</li>
                <li>Flexível, sendo usado em diferentes áreas da tecnologia</li>
            </ul>
        </section>

        <section>
            <h2>Entendendo a Programação Orientada a Objetos (POO)</h2>
            <p>A Programação Orientada a Objetos é um modelo de desenvolvimento que organiza o código em estruturas chamadas "objetos", facilitando o entendimento, a manutenção e a expansão dos programas.</p>
        </section>

        <section>
            <h2>Por que utilizar a POO?</h2>
            <p>Esse paradigma promove uma construção de software mais modular, facilitando a reutilização de código, a escalabilidade e a clareza na organização de projetos complexos.</p>
        </section>


        <a href="/pagina2">
            <button>Ir para a outra página</button>
        </a>
        

    </div>
</body>
</html>
